name: Go

on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

permissions: {}

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/go.yml@49fc521890a243722b1fd43d70d170e46602a787

    permissions:
      contents: read
      packages: read
      # To report Github Actions status checks
      statuses: write

  linter:
    uses: openconfig/common-ci/.github/workflows/linter.yml@49fc521890a243722b1fd43d70d170e46602a787

    permissions:
      contents: read
      packages: read
      # To report Github Actions status checks
      statuses: write
